.venv
.pytest_cache
__pycache__
.ipynb_checkpoints
build
dist
cfn_docgen.egg-info
*.ipynb
*.xlsx
*.html
memo.txt
*.csv
*.md
!docs/*.md
!README.md
*.log
tests/cache
.coverage
*.xml
.env
tests/resources
!sample/sample-template*
# .vscode
packages
*.zip
.aws-sam
layer
packaged.yaml
old
data
*.packaged